<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>
  <p class="is-size-3 has-text-centered" >Roll Creator</p>
  <div class ="has-text-centered">
    <a class="button has-text-centered is-small" href="/show_rolls">Roll Dashboard</a>
    <br>
  </div>
  <div class="container has-text-centered">
    <div class= "columns">
      <div class= 'column '>

    
    <form id="roll-form">
      <br>
    <div class="field ">
      <label class="label">Roll Name</label>
      <input class= "input" type="name" name="name" placeholder="Fireball" />
    </div>
    <div class="field">
      <label class="label">Roll Code</label>
      <input class= 'input' type="text" name="roll" placeholder="/r 8d6" />
    </div>

    <div class="field">
      <label class="label">Icon</label>
      <div class= 'control'>
      <div class ="select">
      <select id="icon" name= icon>

      <%
      const icons = ['swords','fire','snow','crosshair', 'bow', 'shield']
      const codes = ["akar-icons:double-sword",
      "ant-design:fire-outlined",
      "ion:snow",
      "uil:crosshair",
      "icon-park-outline:archers-bow",
      "fa-solid:shield-alt"]

      for (let i = 0; i < icons.length; i++){ 
        
        %>
        <option value = <%= codes[i] %> ><%= icons[i] %> </option>
      <% } %>
        
      </select>
    </div>
  </div>
</div>
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
    </form>
    <div id="login-error" style="display: none;">
    </div>
  
  </div>
  </div>
</div>
</body>
<script>
</script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyAu9G_eAw6jwpQM9QE93GhYep7b1MgJAM4",
      authDomain: "roller-revamp.firebaseapp.com",
      projectId: "roller-revamp",
      storageBucket: "roller-revamp.appspot.com",
      messagingSenderId: "1051670949865",
      appId: "1:1051670949865:web:41902a251bfbf54a686578"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("roll-form")
      .addEventListener("submit", async (event) => {
        event.preventDefault();
        const roll = event.target.roll.value;
        const name = event.target.name.value;
        const icon = event.target.icon.value;

        try{
          await fetch('/create_roll', {
                  method: 'POST', 
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({name, roll, icon })
            });
            window.location.href = '/create_roll'

        } catch (error) {
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
          //res.render('error', { error: error })
        };
      });
    }

  </script>

</html>