<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

    


  <p class="is-size-2 has-text-centered" >Sign-Up</p>
  

  <form id="login-form">

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " name = "login" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      
    </div>
    
  </div>
  
  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input class="input" name="password" type="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>
  
  
  <div class="field is-grouped is-centered has-text-centered">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    
  </div>
</form>

<div class ="has-text-centered">
  <a class="button has-text-centered is-small" href="/sign-in">
    Have An Account? Click Here</a>
</div>


<div id="login-error" style="display: none;">
</div>

  
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyAu9G_eAw6jwpQM9QE93GhYep7b1MgJAM4",
      authDomain: "roller-revamp.firebaseapp.com",
      projectId: "roller-revamp",
      storageBucket: "roller-revamp.appspot.com",
      messagingSenderId: "1051670949865",
      appId: "1:1051670949865:web:41902a251bfbf54a686578"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", async (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        try {
          const userCredential = await app.auth().createUserWithEmailAndPassword(login, password) 
          // Signed in 
          const user = userCredential.user;
          const idToken = await user.getIdToken()
          // Create new Session with Token
          await fetch('/sessionLogin', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ idToken })
          });
          window.location.href = './dashboard'

          
        } catch (error) {
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
          //res.render('error', { error: error })
        }
        

      });
  }
</script>

</html>