<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>

  <p class="is-size-2 has-text-centered" >Login</p>
  

  <form id="login-form">

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " name = "login" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      
    </div>
    
  </div>
  
  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left">
      <input class="input" name="password" type="password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>
  
  
  <div class="field is-grouped is-centered has-text-centered">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    
  </div>
</form>

<div class ="has-text-centered">
  <a class="button has-text-centered is-small" href="/sign-up">
    No Account? Click Here</a>
</div>

  <div id="login-error ">

  </div>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>

  window.onload = () => {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config

      // Your web app's Firebase configuration

  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAu9G_eAw6jwpQM9QE93GhYep7b1MgJAM4",
      authDomain: "roller-revamp.firebaseapp.com",
      projectId: "roller-revamp",
      storageBucket: "roller-revamp.appspot.com",
      messagingSenderId: "1051670949865",
      appId: "1:1051670949865:web:41902a251bfbf54a686578"
    };

    console.log('loaded', 'it is loaded')
    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", async (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        console.log('login', login)
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        try {
          const userCredential = await app.auth().signInWithEmailAndPassword(login, password);
          const user = userCredential.user;
          const idToken = await user.getIdToken();
          // Start a new session with User's IdToken
          console.log('user and token',user, idToken)
          await fetch('./sessionLogin', {
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ idToken })
          });
          // Redirect to Dashboard
          window.location.href = './dashboard'

        } catch (err){
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log(errorCode, errorMessage)
        
          
        }
        
    });
  };

</script>

</html>